/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/sppd
/public/adm
/public/inven
/public/project
/public/taskfiles
/public/vendor
/public/vendor_file
/public
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
Notes.txt
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
.editorconfig
.ftpquota
.gitattributes
.gitignore
.htaccess
README.md
api-documentation.md
error_log
exit
favicon.ico
fileENV.txt
project/
public.zip
taskfiles/
tests/
vendor_file/
vite.config.js
